{{ template "header" . }}
<div class="container">
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
<a href="/">Home</a>
</div>
{{ template "footer" . }}